n8n/workflows/agri_asisten_bot.json
{
  "name": "Agri Asisten Bot Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agri-asisten",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -100,
        240
      ],
      "id": "webhook-node",
      "name": "webhook-receiver"
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.body.message || '';\nconst user = $input.item.json.body.user || { name: 'Guest', role: 'Guest', id: null };\nconst normalized = message.toLowerCase();\n\nlet intent = 'general';\nlet searchQuery = '';\nlet orderNumber = '';\n\nconst orderMatch = normalized.match(/(or-[a-z0-9\\-]+)/i);\n\nfunction cleanQuery(text) {\n  let cleaned = text.replace(/[?,.\\!]/g, ' ');\n  let words = cleaned.toLowerCase().split(/\\s+/);\n  const stopWords = new Set([\n    'apakah', 'adakah', 'ada', 'berapa', 'harga', 'stok', 'jual', 'daftar', 'tampilkan', 'cari',\n    'tentang', 'toko', 'tani', 'petani', 'mitra', 'penjual', 'order', 'pesanan', 'beli', 'transaksi',\n    'di', 'ke', 'dari', 'ini', 'itu', 'yang', 'saya', 'ingin', 'mau', 'tolong', 'info', 'informasi',\n    'detail', 'untuk', 'dong', 'kak', 'min', 'gan', 'bos', 'ya', 'sih', 'kah', 'permisi', 'halo',\n    'selamat', 'pagi', 'siang', 'sore', 'malam', 'list', 'status', 'cek', 'ketersediaan', 'bagaimanakah',\n    'bagaimana', 'mana', 'di mana', 'lokasi', 'alamat', 'kontak', 'wa', 'nomor', 'hp', 'telepon', 'hubungi',\n    'bisa', 'tunjukkan', 'kasih', 'tahu', 'tau', 'lihat'\n  ]);\n  let queryWords = words.filter(w => !stopWords.has(w) && w.length > 0);\n  return queryWords.join(' ');\n}\n\nif (orderMatch) {\n  intent = 'specific_order';\n  orderNumber = orderMatch[1].toUpperCase();\n} else if (\n  normalized.includes('fitur') ||\n  normalized.includes('bantuan') ||\n  normalized.includes('cara') ||\n  normalized.includes('aplikasi') ||\n  normalized.includes('menu') ||\n  normalized.includes('tutorial') ||\n  normalized.includes('panduan')\n) {\n  intent = 'general';\n} else if (\n  normalized.includes('produk') ||\n  normalized.includes('stok') ||\n  normalized.includes('harga') ||\n  normalized.includes('jual') ||\n  normalized.includes('beli') ||\n  normalized.includes('beras') ||\n  normalized.includes('cabai') ||\n  normalized.includes('sayur') ||\n  normalized.includes('buah') ||\n  normalized.includes('telur') ||\n  normalized.includes('daging') ||\n  normalized.includes('ikan') ||\n  normalized.includes('madu') ||\n  normalized.includes('susu') ||\n  normalized.includes('kopi') ||\n  normalized.includes('rempah')\n) {\n  intent = 'products';\n  searchQuery = cleanQuery(normalized);\n} else if (\n  normalized.includes('petani') ||\n  normalized.includes('toko') ||\n  normalized.includes('mitra') ||\n  normalized.includes('penjual') ||\n  normalized.includes('alamat') ||\n  normalized.includes('lokasi')\n) {\n  intent = 'sellers';\n  searchQuery = cleanQuery(normalized);\n} else if (\n  normalized.includes('order') ||\n  normalized.includes('pesanan') ||\n  normalized.includes('transaksi')\n) {\n  intent = 'orders';\n}\n\nreturn {\n  json: {\n    message,\n    intent,\n    searchQuery,\n    orderNumber,\n    user\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        240
      ],
      "id": "intent-classifier-node",
      "name": "Classify Intent"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "products",
              "output": 0
            },
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "sellers",
              "output": 1
            },
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "orders",
              "output": 2
            },
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "specific_order",
              "output": 3
            },
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "general",
              "output": 4
            }
          ]
        },
        "fallbackOutput": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        300,
        240
      ],
      "id": "intent-switch-node",
      "name": "Switch Intent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT p.name, p.price, p.stock, p.unit, p.description, COALESCE(u.shop_name, u.name) as seller_name, u.phone, u.address FROM products p JOIN users u ON p.seller_id = u.id WHERE p.is_active = 1 {{ $node[\"Classify Intent\"].json.searchQuery.length > 1 ? \"AND p.name LIKE '%\" + $node[\"Classify Intent\"].json.searchQuery + \"%'\": \"\" }} LIMIT 5;"
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        520,
        40
      ],
      "id": "query-products-node",
      "name": "Query Products DB",
      "credentials": {
        "mySql": {
          "id": "db-credentials",
          "name": "AgriConnect MySQL Connection"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT shop_name, name as seller_name, phone, address, shop_description FROM users WHERE role = 'Petani' AND shop_name IS NOT NULL {{ $node[\"Classify Intent\"].json.searchQuery.length > 1 ? \"AND shop_name LIKE '%\" + $node[\"Classify Intent\"].json.searchQuery + \"%'\": \"\" }} LIMIT 5;"
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        520,
        180
      ],
      "id": "query-sellers-node",
      "name": "Query Sellers DB",
      "credentials": {
        "mySql": {
          "id": "db-credentials",
          "name": "AgriConnect MySQL Connection"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT order_number, total_price, status, created_at FROM orders WHERE buyer_id = {{ $node[\"Classify Intent\"].json.user.id || 0 }} ORDER BY created_at DESC LIMIT 3;"
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        520,
        320
      ],
      "id": "query-orders-node",
      "name": "Query Orders DB",
      "credentials": {
        "mySql": {
          "id": "db-credentials",
          "name": "AgriConnect MySQL Connection"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT order_number, total_price, status, shipping_address, notes, created_at FROM orders WHERE order_number = '{{ $node[\"Classify Intent\"].json.orderNumber }}' {{ $node[\"Classify Intent\"].json.user.role === 'Pembeli' ? \"AND buyer_id = \" + $node[\"Classify Intent\"].json.user.id : \"\" }} LIMIT 1;"
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        520,
        460
      ],
      "id": "query-specific-order-node",
      "name": "Query Specific Order DB",
      "credentials": {
        "mySql": {
          "id": "db-credentials",
          "name": "AgriConnect MySQL Connection"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $node[\"Classify Intent\"].json.message;\nconst user = $node[\"Classify Intent\"].json.user;\nconst intent = $node[\"Classify Intent\"].json.intent;\nconst searchQuery = $node[\"Classify Intent\"].json.searchQuery;\nconst orderNumber = $node[\"Classify Intent\"].json.orderNumber;\nconst results = $input.all();\n\nlet reply = '';\nconst greeting = user.id ? `Halo Kak **${user.name}**! ` : 'Halo! ';\n\nif (intent === 'products') {\n  if (results.length === 0) {\n    reply = searchQuery ? \n      greeting + `Maaf, produk dengan kata kunci \"**${searchQuery}**\" tidak ditemukan di katalog kami saat ini.` :\n      greeting + 'Saat ini belum ada produk segar terdaftar di katalog kami.';\n  } else if (results.length === 1) {\n    const p = results[0].json;\n    const priceFormatted = Number(p.price).toLocaleString('id-ID');\n    reply = greeting + `Berikut detail produk **${p.name}**:\\n\\n` +\n      `• Deskripsi: ${p.description || '-'}\\n` +\n      `• Harga: **Rp ${priceFormatted} per ${p.unit}**\\n` +\n      `• Stok: **${p.stock} ${p.unit}**\\n` +\n      `• Toko: **${p.seller_name}** (${p.address})\\n` +\n      `• Kontak Tani WA: ${p.phone}\\n\\n` +\n      `Anda bisa langsung memesan produk ini di tab **Produk** pada aplikasi.`;\n  } else {\n    reply = greeting + (searchQuery ? `Berikut produk yang cocok dengan pencarian \"**${searchQuery}**\":\\n\\n` : 'Berikut daftar produk segar terbaru di platform kami:\\n\\n') +\n      results.map((r, i) => {\n        const p = r.json;\n        const priceFormatted = Number(p.price).toLocaleString('id-ID');\n        return `${i+1}. **${p.name}**\\n   • Harga: Rp ${priceFormatted} per ${p.unit}\\n   • Stok: ${p.stock} ${p.unit}\\n   • Toko: ${p.seller_name}`;\n      }).join('\\n\\n') +\n      '\\n\\nBuka tab **Produk** untuk melihat lebih lengkap atau melakukan transaksi.';\n  }\n} else if (intent === 'sellers') {\n  if (results.length === 0) {\n    reply = searchQuery ? \n      greeting + `Maaf, toko tani dengan nama \"**${searchQuery}**\" tidak ditemukan.` :\n      greeting + 'Belum ada Toko Tani Mitra terdaftar.';\n  } else if (results.length === 1) {\n    const s = results[0].json;\n    reply = greeting + `Berikut profil Toko Tani Mitra **${s.shop_name}**:\\n\\n` +\n      `• Nama Pemilik: ${s.seller_name}\\n` +\n      `• Alamat: ${s.address}\\n` +\n      `• Hubungi: **${s.phone}**\\n` +\n      `• Deskripsi: \"${s.shop_description || 'Penyedia komoditas segar pilihan.'}\"`;\n  } else {\n    reply = greeting + 'Berikut daftar Toko Tani Mitra terbaik kami:\\n\\n' +\n      results.map((r, i) => {\n        const s = r.json;\n        return `${i+1}. **${s.shop_name}** (Pemilik: ${s.seller_name})\\n   • Alamat: ${s.address}\\n   • Hubungi: ${s.phone}`;\n      }).join('\\n\\n');\n  }\n} else if (intent === 'orders') {\n  if (!user.id) {\n    reply = 'Silakan melakukan login terlebih dahulu untuk mengakses riwayat transaksi Anda.';\n  } else if (results.length === 0) {\n    reply = greeting + 'Anda belum memiliki riwayat transaksi di AgriConnect.';\n  } else {\n    reply = greeting + 'Berikut status 3 transaksi terbaru Anda:\\n\\n' +\n      results.map((r, i) => {\n        const o = r.json;\n        const totalFormatted = Number(o.total_price).toLocaleString('id-ID');\n        return `${i+1}. **No. Order: ${o.order_number}**\\n   • Total: Rp ${totalFormatted}\\n   • Status: **${o.status.toUpperCase()}**`;\n      }).join('\\n\\n') +\n      '\\n\\nKetik \"*Cek pesanan [No. Order]*\" untuk melihat detail pengiriman spesifik.';\n  }\n} else if (intent === 'specific_order') {\n  if (results.length === 0) {\n    reply = greeting + `Maaf, pesanan dengan nomor **${orderNumber}** tidak ditemukan, atau Anda tidak berhak melacaknya.`;\n  } else {\n    const o = results[0].json;\n    const totalFormatted = Number(o.total_price).toLocaleString('id-ID');\n    const date = new Date(o.created_at).toLocaleString('id-ID', { dateStyle: 'medium', timeStyle: 'short' });\n    const statusMap = {\n      'pending': 'Menunggu Pembayaran ⏳',\n      'confirmed': 'Dikonfirmasi (Sedang Diproses) 📦',\n      'shipped': 'Dalam Pengiriman 🚚',\n      'delivered': 'Telah Diterima (Selesai) ✓',\n      'cancelled': 'Dibatalkan ✕'\n    };\n    const statusStr = statusMap[o.status] || o.status.toUpperCase();\n    reply = greeting + `Berikut detail pesanan Anda **${o.order_number}**:\\n\\n` +\n      `• Tanggal: ${date}\\n` +\n      `• Total Bayar: **Rp ${totalFormatted}**\\n` +\n      `• Alamat Kirim: ${o.shipping_address}\\n` +\n      `• Catatan: ${o.notes || '-'}\\n` +\n      `• Status: **${statusStr}**`;\n  }\n}\n\nreturn {\n  json: {\n    reply,\n    source: 'n8n_database_high_accuracy'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        200
      ],
      "id": "format-db-response-node",
      "name": "Format DB Response"
    },
    {
      "parameters": {
        "jsCode": "const message = $node[\"Classify Intent\"].json.message;\nconst user = $node[\"Classify Intent\"].json.user || { name: 'Guest', role: 'Guest', id: null };\nconst normalized = message.toLowerCase();\nconst greeting = user.id ? `Halo Kak **${user.name}** (${user.role})! ` : 'Halo! ';\n\nlet reply = '';\n\nif (normalized.includes('fitur') || normalized.includes('bantuan') || normalized.includes('cara') || normalized.includes('aplikasi') || normalized.includes('menu')) {\n  reply = greeting + \"Saya adalah **Agri Asisten Bot**, asisten virtual Anda di AgriConnect. Berikut panduan cepat menu utama aplikasi kami:\\n\\n\" +\n    \"• **Bagi Petani**: Anda dapat mencatat panen di menu **Panen**, mengatur penanaman di menu **Jadwal**, mengelola pengeluaran di **Biaya Produksi**, serta menerbitkan stok barang jualan di menu **Stok**.\\n\" +\n    \"• **Bagi Pembeli**: Anda dapat mencari produk segar di menu **Produk**, memasukkannya ke keranjang, melakukan checkout/pemesanan, melacak pengiriman di menu **Pesanan**, dan melakukan review produk.\\n\\n\" +\n    \"Ada hal spesifik terkait fitur yang ingin Anda tanyakan?\";\n} else if (normalized.includes('panen') || normalized.includes('tanam') || normalized.includes('pupuk') || normalized.includes('bibit') || normalized.includes('padi') || normalized.includes('hama')) {\n  reply = greeting + \"Berikut adalah beberapa tips pertanian praktis untuk mengoptimalkan hasil panen Anda:\\n\\n\" +\n    \"1. **Bibit Unggul**: Gunakan varietas bibit bersertifikat yang tahan terhadap hama setempat.\\n\" +\n    \"2. **Pemupukan Berimbang**: Berikan pupuk organik dan anorganik (seperti NPK) sesuai fase pertumbuhan tanaman.\\n\" +\n    \"3. **Pengairan**: Gunakan sistem pengairan berkala (intermittent) untuk tanaman padi guna menghemat air dan menekan pertumbuhan gas metana.\\n\" +\n    \"4. **Pengendalian Hama**: Lakukan pemantauan rutin dan gunakan pestisida nabati atau musuh alami sebelum beralih ke bahan kimia.\\n\" +\n    \"5. **Masa Panen**: Lakukan pemanenan saat 90-95% butir gabah telah menguning untuk kualitas gabah terbaik.\";\n} else if (normalized.includes('halo') || normalized.includes('hai') || normalized.includes('pagi') || normalized.includes('siang') || normalized.includes('sore') || normalized.includes('malam') || normalized.includes('selamat')) {\n  reply = greeting + \"Saya adalah **Agri Asisten Bot** 🌾. Ada yang bisa saya bantu hari ini?\\n\\n\" +\n    \"Anda bisa bertanya kepada saya tentang:\\n\" +\n    \"• \\\"*Apakah ada stok beras merah?*\\\" untuk mengecek ketersediaan produk.\\n\" +\n    \"• \\\"*Di mana alamat Toko Tani Makmur?*\\\" untuk mencari tahu profil penjual.\\n\" +\n    \"• \\\"*Cek status pesanan*\\\" atau nomor pesanan spesifik (seperti *OR-202606110001*) untuk melacak transaksi Anda.\";\n} else {\n  reply = greeting + \"Saya adalah **Agri Asisten Bot** yang didukung oleh n8n.\\n\\n\" +\n    \"Maaf, saya tidak memahami pertanyaan Anda: \\\"*\" + message + \"*\\\".\\n\\n\" +\n    \"Cobalah untuk menanyakan hal spesifik seperti:\\n\" +\n    \"• *Harga produk*: \\\"Berapa harga cabai merah?\\\" atau \\\"Apakah ada stok madu?\\\"\\n\" +\n    \"• *Profil toko tani*: \\\"Toko Tani Makmur di mana?\\\"\\n\" +\n    \"• *Status pesanan*: \\\"Cek status pesanan OR-xxxx\\\" (pastikan Anda sudah login)\\n\" +\n    \"• *Bantuan*: \\\"Panduan menu aplikasi\\\" atau \\\"Tips pemupukan padi\\\"\";\n}\n\nreturn {\n  json: {\n    reply,\n    source: 'n8n_generative_bot'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        600
      ],
      "id": "ai-response-node",
      "name": "AI/Generative Fallback"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        340
      ],
      "id": "respond-node",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "webhook-receiver": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Switch Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intent": {
      "main": [
        [
          {
            "node": "Query Products DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Sellers DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Orders DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Specific Order DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI/Generative Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Products DB": {
      "main": [
        [
          {
            "node": "Format DB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Sellers DB": {
      "main": [
        [
          {
            "node": "Format DB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Orders DB": {
      "main": [
        [
          {
            "node": "Format DB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Specific Order DB": {
      "main": [
        [
          {
            "node": "Format DB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI/Generative Fallback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "id": "1",
  "active": true
}
